@import "../../scss/base/index";

.spinner {
  display: flex;
  border-radius: 50px;
  .input-quantity {
    border-right-width: 0;
    width: 30px;
    height: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .spinner-button {
    background-color: $spinner-color;
    .increase-btn,
    .decrease-btn {
      position: relative;
      border: none;
      background-color: transparent;
      width: 22px;
      height: 10px;
      display: block;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        border: 2px solid $primary-white;
        border-right-width: 0;
        border-bottom-width: 0;
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        left: 9px;
        top: 5px;
      }
    }
    .decrease-btn {
      &:before {
        transform: rotate(-135deg);
      }
    }
  }
}
